:root {
    --font-color-main: black;
    --background-color-main: white;
    --borders-color: black;
}

* {
    border: 1px solid red;
    font-family: Roboto, sans-serif;
}

* ul {
    list-style: none;
}

* a {
    text-decoration: none;
    color: var(--font-color-main)
}

body {
    padding: none;
    width: auto;
    margin: none;
}

header {
display: flex;
justify-content: flex-end;
align-items: center;
width: 100%;
}

.logo {
    width: 60px;
    height: fit-content;
    border: 2px solid var(--borders-color);
    border-radius: 15px;
    margin-right: auto;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    padding: 0;
}

.nav-menu li {
    border: 3px solid var(--borders-color);
    border-radius: 20px;
    padding: 5px;
}

h1 {
    font-size: 2em;
    font-weight: bold;
    color: var(--font-color-main);
}

.head-sec,
.card-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.odin-project img{
    width: 20px;
}

.odin-project {
    display:flex;
    align-items: center;
    border: 3px solid black;
    border-radius: 20px;
}

.odin-project:hover,
.nav-menu li:hover {
    background-color: rgba(137, 43, 226, 0.377);
    cursor: pointer;
}

.head-img img {
    border: 1px solid black;
    border-radius: 20px;
    width: 100%;
    object-fit: cover;
}

.head-text, .head-img {
    flex-grow: 1;
    width: 45%;
}

.head-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.head-text h1,
.head-text p {
    margin: 5px;
}